In [14]:
gname = {'Samantha','Jada','Jane','Claire','Elizabeth','Mary','Susan','Waje','Taibat','Lilian'}

gage = {'17','16','17','18','16','18','17','20','19','17'}

gheight = {'5.5','6.0','5.4','5.9','5.6','5.5','6.1','6.0','5.7','5.5'}

gscore = {'80','85','70','60','76','66','87','95','50','49'}

bname = {'Charles', 'Jude','James', 'Kelvin', 'Biodun', 'Wale', 'Kunle','Matthew', 'Tom','Kayode'}

bage = {'19','16', '18','17','20','19','16','18','17','19'}

bheight = {'5.7','5.9','5.8','6.1','5.9','5.5','6.1','5.4','5.8','5.7'}

bscore = {'74','87','75','68','66','78','87','98','54','60'}

print("NAME |AGE |HEIGHT |SCORE")

for i in range(len(gname)):
    print(gname[i], "|", gage[i], "|",gheight[i], "|", gscore[i])
    print(bname[i], "|", bage[i], "|",bheight[i], "|", bscore[i])

NAME |AGE |HEIGHT |SCORE

TypeError: 'set' object is not subscriptable